<ul class="list-group">
{{#each notes}}
    <a href="/note/{{id}}" class="list-group-item">{{title}}</a></br>
{{/each}}

<a type="button" class="btn btn-default-primary" href="/note/new">
New Note
</a>